@inherits Sandbox.UI.Panel
@using Sandbox
@namespace MyGame

<style>
	Healthbar {
		width: 40%;
		height:7.5%;
		background-color: black;
		border-radius: 10px;
		padding: 5px;
		align-items: center;
		opacity: 0.9;
	}

	.fill {
		height: 100%;
		width: 100%;
		background-image: linear-gradient( #539EFA,#9EC8FB);
		border-radius: 10px;
	}
</style>

<root>
	<div class="fill" style="width: @(GetHealth())%"></div>
</root>

@code {
	public int GetHealth()
	{
		var player = Game.LocalPawn as Pawn;
		if (player == null) return 0;

		return (int)player.Shields;
	}

	protected override int BuildHash()
	{
		var currentHealth = GetHealth();
		return currentHealth.GetHashCode();
	}
}