@using Sandbox;
@using Sandbox.UI;

@namespace MyGame
@inherits RootPanel
@attribute [StyleSheet]

<style>
	hud {
		display: flex;
		justify-content: center;
		align-content:center;
		padding: 30px;
	}
	.card-image {
		background-image: url("https://pbs.twimg.com/media/F5-v0QQWAAAd0vJ?format=webp&name=small");
		background-repeat: no-repeat;
		width: 50%;
		height: 100%;
	}
</style>

<root>

	<Healthbar/>
	<div class="card-image">
	</div>
</root>

@code
{
}