@using Sandbox;
@using System;
@using System.Linq;
@using System.Collections;
@using System.Collections.Generic;
@using System.Threading.Tasks;
@using Sandbox.Menu;
@using Sandbox.UI;

@namespace Ringworld

<style>
	panel {

	}
</style>

<root class="OfficialMaps">
	<div class="controls">
		<div>Official Maps</div>
		<button @onclick=@(() => SetPackage("droppod.wizard"))>Wizard</button>
	</div>
</root>

@code
{
	public void SetPackage(string name)
	{
		var map = Package.Fetch(name, true).Result;
		if (map.PackageType == Package.Type.Map)
		{
			Game.Menu.Lobby.Map = map.FullIdent;
		}
	}
}